body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
}

/* Global */
.highlight2 {
    font: bold;
    color: #215c77;
}
.dark {
    background-color: #07224a;
    color: white;
    padding: 7% 5% 7% 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    padding:0px;
    margin: 0px;
}

/* Header */

header {
    background: #07224a;
    color: #ffffff;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: 3px solid #bf2600;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

header a:hover{
    color: #cccccc;
}

header li{
    margin-top: 5px;
    padding: 0 15px 0 15px;
    float: left;
    display: inline;
}

header #branding{
    float: left;
    height: 50px;
}

header #branding h1{
    margin:0;
}
header #branding img{
    height: 100%;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .current {
    color: #bf2600;
}

/* Showcase */

#showcase {
    background: no-repeat url('../img/showcase3.png');
    background-size: cover;
    min-height: 300px;
}

#showcase h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 105px;
    font-family: 'Karma',serif;
    float: right;
}

/* Newsletter */

#newsletter {
    padding: 15px;
    background: #07224a;
    color: white;
}
#newsletter h1 {
    float: left;
}
#newsletter form{
    margin-top: 15px;
    float: right;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    font-size: 15px;
    border-radius: 2px;
}
.button_1{
    padding: 4px;
    height: 38px;
    width: 100px;
    background: #bf2600;
    font-size: 13px;
    color: white;
    border: solid 0px;
    border-radius: 2px;
}

/* Partners */

#partners{
    margin-top: 15px;
}

.box {
    width: 30%;
    float: left;
    text-align: center;
    padding: 10px;
    
}
.box img{
    max-height: 170px;
    min-height: 170px;
}

footer{
    margin-top: 25px;
    padding: 25px;
    color: white;
    background: #bf2600;
    text-align: center;
}

/* Banner */

.banner {
    min-height: 250px;
    background-size: cover;
    border-bottom: solid 5px #bf2600;
}
#contactbanner{
    background: no-repeat url('../img/contactus.png') 0px -500px;
    background-size: cover 
}
#productsbanner{
    background: no-repeat url('../img/showcase4.png') 0px -730px;
    background-size: cover; 
}
.banner h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 105px;
    font-family: 'Karma',serif;
    float: right;
}

/* Feedback Form */
 aside#feedbackform {
    width: 30%;
    float: left;
    background: transparent;
    color: white;
    border-radius: 2px;

 }

aside#feedbackform form{
    align-self: auto;
}

aside#feedbackform input[type="text"]{
    color: white;
    height: 38px;
    width: 98%;
    border: solid gray 1px; 
    border-radius: 2px;
    margin-top: 15px;
    font-size: 15px;
    background: white;

}
aside#feedbackform h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

 aside#feedbackform textarea{
    width: 98%;
    
    border: solid gray 1px; 
    border-radius: 2px;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 3px;
    background: white;
    align-items: center;
 }

/**/
#main-col{
    margin: 10px 0 10px 35px;
}

/* Addresses */

#addresses {
    float: left;
    margin-top: 15px;
    margin-left: 45px;
}
#addresses h1{
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    color: #07224a;
}
#addresses h2{
    font-size: 20px;
    color: #07224a;
}